.logo{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    top: 40px;
    left: 40px;
    backface-visibility: hidden;

    h3{
        color: var(--foreground-hex)
    }
    
    span{
        color: var(--primary-color);
        font-family: inherit;
        font-weight: 800;
    }
}