.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.front, .back{
  backface-visibility: hidden;
}


.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.errorMessage {
  width: 100%;
  text-align: right;
  margin: -12px -12px 0;
  font-size: 10px;
  color: rgb(255, 170, 0);
}
